body {
  background: #000000;
  font-family: Lato;
  font-style: normal;
  margin: 0;
}


ul>li{
    display: inline;
}

ul>li>a>img{
    width: 35px;
}

#work>li{
    display: list-item;
}


.work1,
.work2 {
  color: #a20b0b;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.work1:hover,
.work2:hover {
  color: #e31010;
  transition: 0.25s;
}

.name {
  font-weight: 600;
  font-size: 55px;
  line-height: 66px;
  color: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}

.description {
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.footer{
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}


.itachi {
    width: 285px;
  }

.hire_button {
  width: 150px;
  height: 65px;
  border: 3px solid #a20b0b;
  box-sizing: border-box;
  background: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #a20b0b;
  transition: 0.35s;
}

.hire_button:hover,
.hire_button:focus {
  background-color: #a20b0b;
  --hover: #a20b0b;
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
}

.sharingan {

  width: 150px;
  height: 150px;

}


#ParticleCanvas{

  position:absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  #ParticleCanvas{
    display: none;
  }
  .sharingan{
    display: none;
  }

  .hire_button {
  width: 100px;
  height: 45px;
  border: 3px solid #a20b0b;
  box-sizing: border-box;
  background: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #a20b0b;
  transition: 0.35s;
  margin: 10px;
}

.hire_button:hover,
.hire_button:focus {
  background-color: #a20b0b;
  --hover: #a20b0b;
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
}

}
